
@{
    ViewBag.Title = "TempDataProduct";
}

<h2>TempData Product</h2>

<table border="1">
    <tr>
        <td>Product Id</td>
        <td>Product Name</td>
        <td>Product Price</td>
    </tr>

    @foreach (OnlineShoppingMVC_Entity.ProductDetails item in (List<OnlineShoppingMVC_Entity.ProductDetails>)TempData["Product"])
    {
        <tr>
            <td>@item.productId</td>
            <td>@item.productName</td>
            <td>@item.productPrice</td>
        </tr>
    }
</table>