
@{
    ViewBag.Title = "ViewDataProduct";
}

<h2>ViewData Product</h2>
<table border="1">
    <tr>
        <td>Product Id</td>
        <td>Product Name</td>
        <td>Product Price</td>
    </tr>

    @foreach (OnlineShoppingMVC_Entity.ProductList item in (List<OnlineShoppingMVC_Entity.ProductList>)ViewData["Product"])
    {
        <tr>
            <td>@item.productId</td>
            <td>@item.productName</td>
            <td>@item.productPrice</td>
        </tr>
    }
</table>

