
@{
    ViewBag.Title = "ViewBagProduct";
}

<h2>ViewBag Product</h2>
<table border="1">
    <tr>
        <td>Product Id</td>
        <td>Product Name</td>
        <td>Product Price</td>
    </tr>

    @foreach (OnlineShoppingMVC_Entity.ProductList item in ViewBag.Product)
    {
        <tr>
            <td>@item.productId</td>
            <td>@item.productName</td>
            <td>@item.productPrice</td>
        </tr>
    }
</table>

